.mainCotainer{
    min-height: 100dvh;
    
}
.digital-account-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.roshan-account-image{
     background: url("../../assets/images/roshan_Digital.jpg") no-repeat center/cover;
  border-top-left-radius:100px;
  border-bottom-left-radius:100px;
  min-height: 100vh;

}
.roshan-account-content {
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start; 
    padding: 20px; 

    .heading{
        font-family: 'Poppins-Bold';
        font-size: 30px;
        margin-bottom: 30px;
        color:#188749;
    }
    .description{
        font-size: 20px;
        margin-bottom: 30px;
    }
    .btn{
        color: #188749;
        font-family: 'Poppins-Bold';
        font-size: 14px;
        padding: 20px 20px ;
        border-radius: 10px;
        text-decoration: none;
        margin-top: 20px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        border: 1px solid #188749;
        &:hover{
            background-color: #188749;
            color: #ffffffff;
        }
    }
    @media (max-width: 768px) { /* Adjust breakpoint as needed */
        .btn{
            font-size: 12px;
            padding: 18px 18px
        }

        @media (max-width: 480px) { /* Further scaling for very small devices */
            .heading {
                font-size: 30px;
            }
            .description {
                font-size: 12px;
            }
            .btn{
                font-size: 11px;
                padding: 12px 12px
            }
        }
    }
}


