.container {
  position: relative;
  min-height: 100vh;
  background: url("../../assets/images/nbp_bck.jpg") no-repeat center/cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #042e09, #2a2e2c);
  opacity: 0.8;
}
.content {
    position: relative;
    min-height: 100vh;
    inset: 0;
  }

